.header {
    display: flex;                      /* turns header into horizontal row layout */
    align-items: center;                /* aligns each item center vertically; according to each other */
    justify-content: space-between;     /* spreads it out evenly across the screen; horizontally */
    height: 64px;                       /* height of header space */
    padding-left: clamp(10px, 2vw, 28px);
    padding-right: clamp(10px, 2vw, 28px);
}

.header-left img {
    height: 36px;
    cursor: pointer; 
}

.header-left button {
    background: none; 
    border: none; 
    padding: 0; 
}

.header-center {
    flex: 1;                    /* tells it to take up all the extra space between the three components */
    display: flex;              /* sets up alignment style (below) */
    justify-content: center; 
}

.header-right {
    display: flex; 
    align-items: center; 
}