.view-tabs {
    display: flex; 
    align-items: flex-end;
    gap: clamp(16px, 1.5vw, 24px);
    position: relative;                 /* creates the "baseline" under al the tabs */
}

.view-tabs::after {             /* creates a fake element that doesn't exist in HTML; drawn by CSS; "Pretend there's a <div> here" */
    content: "";                /* empty string */
    position: absolute;         /* */
    left: 0;                    /* from one end of view-tabs to the other */
    right: 0; 
    bottom: 0; 
    height: 2px; 
    background: #cacaca; 
}

.tab {
    position: relative;         /* anchors the active underline */
    display: inline-block; 
    text-decoration: none; 
    color: #cacaca; 
    padding: 4px 2px 8px;
    z-index: 2; 
}

.tab.active {
    color: #000;
}

.tab.active::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;            /* places it down onto the baseline area */
    height: 2px;
    background: #000;
    z-index: 3; 
  }