.view-tabs {
    display: flex; 
    align-items: center;
    gap: clamp(16px, 1.5vw, 24px);
    position: relative;                 /* creates the "baseline" under al the tabs */
    padding-bottom: 10px;               /* room for the line */
}

.view-tabs::after {             /* creates a fake element that doesn't exist in HTML; drawn by CSS; "Pretend there's a <div> here" */
    content: "";                /* empty string */
    position: absolute;         /* */
    left: 0;                    /* from one end of view-tabs to the other */
    right: 0; 
    bottom: 2px; 
    height: 1px; 
    background: #d1d5db; 
}

.tab {
    text-decoration: none; 
}